<h2 class="text-2xl my-1">{{'project.github._title' | translate}}</h2>
<div class="flex flex-column gap-2">
    <div class="flex flex-column gap-1">
        <p-iftalabel>
            <input type="text" id="owner" pInputText [(ngModel)]="gitHubOwner" pSize="small" fluid (blur)="updateOwner();updateRepoList()" maxlength="39" [pKeyFilter]="ownerFilter" [ngClass]="{ 'ng-invalid ng-dirty': ownerError }" />
            <label for="owner">{{'project.github.label.owner' | translate}}</label>
        </p-iftalabel>
        @if(ownerError){
        <p-message severity="error" variant="simple" size="small">{{ownerError.key | translate:ownerError.params}}</p-message>
        }
    </div>
    <p-iftalabel>
        <p-autocomplete [(ngModel)]="gitHubRepo"
                        (input)="onRepoInput()" (onBlur)="onRepoBlur()" (onSelect)="onRepoSelect($event)"
                        [suggestions]="filteredRepos" (completeMethod)="filterRepos($event);"
                        id="repo" [dropdown]=true pSize="small" maxlength="100" [pKeyFilter]="repoFilter" fluid />
        <label for="repo">{{'project.github.label.repo' | translate}}</label>
    </p-iftalabel>
    <p-iftalabel>
        <input type="text" id="branch" pInputText [(ngModel)]="gitHubBranch" pSize="small" fluid (blur)="updateBranch()" [pKeyFilter]="branchFilter" />
        <label for="branch">{{'project.github.label.branch' | translate}}</label>
    </p-iftalabel>
    <div class="flex align-items-center gap-2 mt-1">
        <p-checkbox [(ngModel)]="gitHubBaseline" inputId="baseline" [binary]="true" size="large" />
        <label for="baseline" class="text-lg">{{'project.github.label.baseline' | translate}}</label>
    </div>
</div>