<h2 class="text-2xl my-1">{{ 'project.repo._title' | translate }}</h2>
<div class="flex flex-column gap-2">
  <!--Repo Storage-->
  <p-selectbutton [(ngModel)]="projectRepo" [options]="repoOptions" [unselectable]="true" optionValue="value" styleClass="w-full">
    <ng-template #item let-item>
      <i [class]="item.icon"></i>
      <span class="ml-1">{{ item.name | translate }}</span>
    </ng-template>
  </p-selectbutton>

  <h3 class="text-xl my-1">
    @if (projectRepo === 'github') {
      {{ 'project.github._title' | translate }}
    } @else {
      {{ 'project.repo.local' | translate }}
    }
  </h3>

  <div class="flex flex-column gap-2">
    @if (projectRepo === 'github') {
      <div class="flex flex-column gap-1">
        <p-iftalabel>
          <input
            id="owner"
            [(ngModel)]="gitHubOwner"
            [ngClass]="{ 'ng-invalid ng-dirty': ownerError }"
            [pKeyFilter]="ownerFilter"
            (blur)="updateOwner(); updateRepoList()"
            fluid
            maxlength="39"
            pInputText
            type="text"
          />
          <label for="owner">{{ 'project.github.label.owner' | translate }}</label>
        </p-iftalabel>
        @if (ownerError) {
          <p-message severity="error" size="small" variant="simple">{{ ownerError.key | translate: ownerError.params }}</p-message>
        }
      </div>
    }
    <p-iftalabel>
      <p-autocomplete
        id="repo"
        [(ngModel)]="gitHubRepo"
        [dropdown]="true"
        [maxlength]="100"
        [pKeyFilter]="repoFilter"
        [suggestions]="filteredRepos"
        (completeMethod)="filterRepos($event)"
        (input)="onRepoInput()"
        (onBlur)="onRepoBlur()"
        (onSelect)="onRepoSelect($event)"
        fluid
      />
      <label for="repo">{{ 'project.github.label.repo' | translate }}</label>
    </p-iftalabel>
    @if (projectRepo === 'github') {
      <p-iftalabel>
        <input id="branch" [(ngModel)]="gitHubBranch" [pKeyFilter]="branchFilter" (blur)="updateBranch()" fluid pInputText type="text" />
        <label for="branch">{{ 'project.github.label.branch' | translate }}</label>
      </p-iftalabel>
    }
    @if (projectRepo === 'local') {
      <p-message icon="pi pi-info-circle" severity="info" size="small" variant="simple">
        {{ 'project.repo.local.message' | translate }}
      </p-message>
    }
    @if (mode() === 'baseline') {
      <div class="flex align-items-center gap-2 mt-1">
        <p-checkbox [(ngModel)]="gitHubBaseline" [binary]="true" [disabled]="!gitHubRepo" inputId="baseline" size="large" />
        <label class="text-lg" for="baseline">{{ 'project.github.label.baseline' | translate }}</label>
      </div>
    }
  </div>
</div>
