<p-breadcrumb [model]="breadcrumbs">
    <ng-template pTemplate="item" let-item>
        @if(item.route){
        <a [routerLink]="item.route" class="p-menuitem-link">{{ item.label | translate }}</a>
        }
        @else{
        <span class="p-menuitem-text">{{ item.label | translate }}</span>
        }
    </ng-template>
</p-breadcrumb>

<h1 id="wb-cont">{{ 'example.prompt._title' | translate}}</h1>
<p>{{ 'example.prompt.description' | translate}} {{ 'example.prompt.description2' | translate}}</p>