<p-breadcrumb [model]="breadcrumbs">
    <ng-template pTemplate="item" let-item>
        @if(item.route){
        <a [routerLink]="item.route" class="p-menuitem-link">{{ item.label | translate }}</a>
        }
        @else{
        <span class="p-menuitem-text">{{ item.label | translate }}</span>
        }
    </ng-template>
</p-breadcrumb>

<h1 id="wb-cont">{{ 'example.prompt._title' | translate}}</h1>
<p>{{ 'example.prompt.description' | translate}} {{ 'example.prompt.description2' | translate}}</p>

<p-tabs [(value)]="selectedTab">
    <p-tablist>
        @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value" (click)="updateDiff()">{{ tab.title }}</p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @for (tab of tabs; track tab.value) {
        <p-tabpanel [value]="tab.value">
            <div class="flex flex-column gap-3 mt-0">
                @for(prompt of tab.prompts; track prompt.enumKey){
                <p-iftalabel>
                    <textarea [id]="prompt.enumKey" autoResize="true" rows="2" pTextarea fluid
                              [(ngModel)]="prompt.promptText" (ngModelChange)="updateDiff()"></textarea>
                    <label [for]="prompt.enumKey">{{prompt.translationKey| translate}}</label>
                </p-iftalabel>
                }
            </div>
        </p-tabpanel>
        }
    </p-tabpanels>
</p-tabs>
@if(hasChanges()){
<!--Review-->
<h2 class="my-1">Review changes</h2>
<div id="diff-container"></div>
<!--Export-->
<p-fieldset legend="Full File Preview" [toggleable]="true" [collapsed]="true" styleClass="secondary-outline mb-3">
    <pre #filePreview><code class="language-typescript">{{ rebuildPromptFile(tabs[selectedTab].tool, tabs[selectedTab].prompts) }}</code></pre>
</p-fieldset>
<p-button [label]="'example.prompt.button.openPR' | translate" icon="pi pi-send" disabled />
}