<h2 class="text-2xl my-1">{{"addPages.title" | translate}}</h2>
<p class="text-color-secondary">{{"addPages.description" | translate}}</p>
<p-iftalabel>
    <textarea id="urls" autoResize="true" rows="5" pTextarea [(ngModel)]="validationState.rawUrls" (change)="parseUrls()" (paste)="onPasteUrls()" fluid></textarea>
    <label for="urls">{{"addPages.inputLabel" | translate}}</label>
</p-iftalabel>

@if(duplicatesSkipped.length > 0){
<p-message severity="error" size="small" variant="simple" styleClass="mb-2" [text]="getDuplicateMessage()" />
}

<div class="flex flex-row align-items-center gap-2">
    <!--Validate URLs-->
    <p-button [label]="'addPages.validateButton' | translate" icon="pi pi-check-square" class="min-w-max"
              [loading]="validationState.isValidating" [disabled]="!validationState.rawUrls.trim() || validationState.isValidated"
              (onClick)="validateUrls()" />
    <!--Arrow & screenreader annoucement for users coming from bookmarklet-->
    @if(highlightAddPages){
    <div class="sr-only" aria-live="polite" role="status">
        {{ 'addPages.screenreader.pageReadyToAdd' | translate }}
    </div>
    <div class="flex flex-row align-items-center m-0 p-0 text-primary arrow-bounce">
        <span class="material-icons text-5xl">keyboard_backspace</span>
        <p class="font-bold text-lg m-0">Add your page</p>
    </div>
    }
    <!-- Undo Button -->
    @if(addPagesState.getPreviousProjectData()){
    <p-button [label]="'addPages.undoButton' | translate" icon="pi pi-undo" (onClick)="undoAddPages()" severity="secondary" />
    }
</div>

<!--URL Validation-->
@if (validationState.isValidating || validationState.isValidated) {
<h3 class="mt-3 mb-2">{{getValidationHeader()}}</h3>

<!-- Progress -->
<p-progressbar [value]="validationState.urlPercent">
    <ng-template #content>
        <span>{{ validationState.urlChecked }}/{{ validationState.urlTotal }}</span>
    </ng-template>
</p-progressbar>

<!-- Currently Checking 
@if (urlsChecking.length > 0) {
<div class="flex flex-column gap-2 mt-3">
    @for (url of urlsChecking; track url.href) {
    <p-chip styleClass="bg-yellow-100 text-black-alpha-90" class="max-w-max">
        <i class="pi pi-spin pi-spinner"></i>
        <span>{{ url.href }}</span>
    </p-chip>
    }
</div>
}-->

<!-- Broken Links -->
@if (urlsBad.length > 0) {
<h4 class="mb-2">{{getStatusText('broken','heading')}}</h4>
<p class="text-sm text-color-secondary my-1">{{getStatusText('broken','description')}}</p>
<div class="flex flex-column gap-2">
    @for (url of urlsBad; track url.href) {
    <p-inputgroup>
        <p-iftalabel>
            <input type="text" id="broken-url" pInputText variant="outlined" [(ngModel)]="url.href" pSize="small" fluid />
            <label for="broken-url">{{'addPages.broken.inputLabel' | translate}}</label>
        </p-iftalabel>
        <!--TODO: finish the add new page method-->
        @if(!production){
        <p-inputgroup-addon>
            <p-button disabled icon="pi pi-plus-circle" [pTooltip]="'addPages.tooltip.new' | translate" tooltipPosition="top" severity="primary" text class="min-h-full" (click)="openNewPagePopover($event, url); np.toggle($event)" />
        </p-inputgroup-addon>
        }
        <p-inputgroup-addon>
            <p-button icon="pi pi-check-circle" [pTooltip]="'addPages.tooltip.revalidate' | translate" tooltipPosition="top" severity="success" text class="min-h-full" (click)="revalidateUrl($event, url)" />
        </p-inputgroup-addon>
        <p-inputgroup-addon>
            <p-button icon="pi pi-times-circle" [pTooltip]="'addPages.tooltip.remove' | translate" tooltipPosition="top" severity="danger" text class="min-h-full" (click)="removeUrl(url)" />
        </p-inputgroup-addon>
    </p-inputgroup>
    }
</div>
}

<!-- Redirected Links -->
@if (urlsRedirected.length > 0) {
<h4 class="mb-2 mt-3">{{getStatusText('redirect','heading')}}</h4>
<p class="text-sm text-color-secondary my-1">{{getStatusText('redirect','description')}}</p>
<div class="flex flex-column gap-2">
    @for (url of urlsRedirected; track url.originalHref) {
    <div class="border-1 border-round-lg surface-border">
        <div class="flex align-items-center gap-2 p-2">
            <i class="pi pi-directions text-2xl text-orange-500"></i>
            <span class="text-sm text-600 font-semibold">{{'addPages.redirect.subheading' | translate}}</span>
        </div>
        <div class="px-2 text-xs text-color-secondary">
            <span class="font-semibold ml-1">{{'addPages.redirect.from' | translate}}</span>
            <span>{{url.originalHref}}</span>
        </div>
        <p-inputgroup>
            <p-iftalabel>
                <input type="text" id="redirected-url" pInputText variant="outlined" [(ngModel)]="url.href" pSize="small" fluid />
                <label for="redirected-url" class="font-semibold">{{'addPages.redirect.to' | translate}}</label>
            </p-iftalabel>
            <p-inputgroup-addon>
                <p-button icon="pi pi-check-circle" [pTooltip]="'addPages.tooltip.revalidate' | translate" tooltipPosition="top" severity="success" text class="min-h-full" (click)="revalidateUrl($event, url)" />
            </p-inputgroup-addon>
            <p-inputgroup-addon>
                <p-button icon="pi pi-times-circle" [pTooltip]="'addPages.tooltip.remove' | translate" tooltipPosition="top" severity="danger" text class="min-h-full" (click)="removeUrl(url)" />
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
    }
</div>
}

<!-- Blocked Links -->
@if (urlsBlocked.length > 0) {
<h4 class="mb-2 mt-3">{{getStatusText('blocked','heading')}}</h4>
<p class="text-sm text-color-secondary my-1">{{getStatusText('blocked','description')}}</p>
<div class="flex flex-column gap-2 mt-2">
    @for (url of urlsBlocked; track url.href) {
    <p-inputgroup>
        <p-iftalabel>
            <input type="text" id="blocked-url" pInputText variant="outlined" [(ngModel)]="url.href" pSize="small" fluid />
            <label for="blocked-url">{{'addPages.blocked.inputLabel' | translate}}</label>
        </p-iftalabel>
        <p-inputgroup-addon>
            <p-button icon="pi pi-check-circle" [pTooltip]="'addPages.tooltip.revalidate' | translate" tooltipPosition="top" severity="success" text class="min-h-full" (click)="revalidateUrl($event, url)" />
        </p-inputgroup-addon>
        <p-inputgroup-addon>
            <p-button icon="pi pi-times-circle" [pTooltip]="'addPages.tooltip.remove' | translate" tooltipPosition="top" severity="danger" text class="min-h-full" (click)="removeUrl(url)" />
        </p-inputgroup-addon>
    </p-inputgroup>
    }
</div>
}

<!-- Valid Links -->
@if (urlsOk.length > 0) {
<h4 class="mb-2 mt-3">{{getStatusText('valid','heading')}}</h4>
<p class="text-sm text-color-secondary my-1">{{getStatusText('valid','description')}}</p>
<ul class="my-0 list-none">
    @for(url of urlsOk; track url.href){
    <li class="flex align-items-center">
        <i class="pi pi-check text-green-500 mr-2"></i>{{ url.href }}
    </li>
    }
</ul>
}

<!-- Duplicates Skipped -->
@if (duplicatesSkipped.length > 0) {
<h4 class="mb-2 mt-3">{{getStatusText('duplicate','heading')}}</h4>
<p class="text-sm text-color-secondary my-1">{{getStatusText('duplicate','description')}}</p>
<ul class="my-0 list-none">
    <li *ngFor="let url of duplicatesSkipped" class="flex align-items-center">
        <i class="pi pi-info-circle text-blue-500 mr-2"></i>{{ url }}
    </li>
</ul>
}

<!-- Confirm Duplicate Popup -->
<p-confirmpopup key="addPages" appendTo="body" />
<!-- Add new page popup -->
<p-popover #np styleClass="w-6">
    <h2 class="text-2xl my-1">Add new page</h2>
    <p>Confirm the parent URL or select a parent page from your project.</p>
    <div class="flex flex-row">
        <p-iftalabel class="w-full">
            <p-autoComplete
                            id="parent-autocomplete"
                            [(ngModel)]="selectedParentUrl"
                            [suggestions]="filteredParentOptions"
                            (completeMethod)="filterParents($event)"
                            (onSelect)="onParentSelect($event)"
                            [virtualScroll]=true
                            [virtualScrollItemSize]="40"
                            [dropdown]="true"
                            optionLabel="label"
                            [placeholder]="'addPages.new.searchPlaceholder' | translate"
                            styleClass="w-full"
                            [showEmptyMessage]="true"
                            [emptyMessage]="'addPages.new.noParentsFound' | translate"
                            fluid>
                <ng-template let-option pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <p-tag
                               [value]="option.inProject ? ('addPages.new.tag.inProject' | translate) : ('addPages.new.tag.validating' | translate)"
                               [severity]="option.inProject ? 'success' : 'info'"
                               [rounded]="true" />
                        <span>{{ option.label }}</span>
                    </div>
                </ng-template>
            </p-autoComplete>
            <label for="parent-autocomplete">{{ 'addPages.new.parent' | translate }}</label>
        </p-iftalabel>
        <p-button styleClass="h-full" label="Confirm" (click)="confirmParent = true" />
    </div>
    <div class="flex gap-2 mt-3">
        <p-button
                  [label]="'addPages.new.confirm' | translate"
                  icon="pi pi-check"
                  (onClick)="addChildNode(); np.hide()"
                  [disabled]="!confirmParent"
                  severity="success" />
        <p-button
                  [label]="'common.cancel' | translate"
                  icon="pi pi-times"
                  (onClick)="np.hide()"
                  severity="secondary"
                  [outlined]="true" />
    </div>
</p-popover>

<!-- Proceed to Breadcrumb Validation -->
@if (validationState.isValidated) {
<div class="mt-3 flex flex-column justify-content-start lg:flex-row lg:align-items-center lg:gap-2">
    <p-button [label]="getAddPagesButtonLabel()" icon="pi pi-plus" (onClick)="onAddPages($event)" severity="success" [loading]="breadcrumbState.isValidating" [disabled]="breadcrumbState.isValidated" />
    <p class class="text-xs text-color-secondary">{{'addPages.addPagesButton.description' | translate}}</p>
</div>
}

}

<!-- Breadcrumb Validation Dialog -->
<p-dialog
          [(visible)]="showBreadcrumbDialog"
          [modal]="true"
          [closable]="!breadcrumbState.isValidating"
          [closeOnEscape]="!breadcrumbState.isValidating"
          [header]="'addPages.breadcrumb.validating' | translate"
          [style]="{ width: '50vw' }">

    <div class="flex flex-column gap-3">
        <!--Progress-->
        <p-progressbar [value]="breadcrumbState.progress"
                       styleClass="h-2rem centered-label">
            <ng-template #content>
                <span>{{ breadcrumbState.currentStep }}</span>
            </ng-template>
        </p-progressbar>

        <!--Breadcrumb trails-->
        @if (breadcrumbState.progress > 20) {
        @if (breadcrumbData.length > 1) {
        <h2 class="text-lg mb-0">Breadcrumb branches</h2>
        }
        <ol class="mt-0">
            @for (breadcrumb of breadcrumbData; track $index) {
            <li class="mb-3 pl-2">
                <div class="flex flex-row flex-wrap gap-1">
                    @for (crumb of breadcrumb; track crumb.url) {
                    <span class="flex flex-row align-items-center justify-content-around gap-1 max-w-12rem">
                        @if (crumb.icon) {
                        <span class="flex flex-row">
                            <i class="pi pi-minus text-gray-300" aria-hidden="true" style="font-size: 1.25rem"></i>
                            <i [class]="crumb.icon" [pTooltip]="`${crumb.iconTooltip}` | translate" tooltipPosition="top" [attr.aria-label]="`${crumb.iconTooltip}` | translate" style="font-size: 1.25rem"></i>
                            <i class="pi pi-minus text-gray-300" aria-hidden="true" style="font-size: 1.25rem"></i>
                        </span>
                        }
                        <a [href]="crumb.url" target="_blank" class="no-underline flex-wrap hover:bg-surface p-1 -mx-1 border-2 shadow-2 border-round-lg text-center" [class]="crumb.styleClass" [pTooltip]="`${crumb.linkTooltip}` | translate" tooltipPosition="top">{{crumb.label}}</a>
                    </span>
                    }
                </div>
            </li>
            }
        </ol>
        @if (breadcrumbState.isValidated) {
        <div class="flex flex-row gap-2 align-items-center text-green-600">
            <i class="pi pi-check-circle"></i>
            <p class="m-0">{{'addPages.breadcrumb.success' | translate}}</p>
        </div>
        }
        }
    </div>

    <ng-template #footer>
        @if (breadcrumbState.isValidated) {
        <p-button
                  [label]="'common.close' | translate"
                  icon="pi pi-times"
                  (onClick)="showBreadcrumbDialog = false"
                  severity="secondary" />
        }
    </ng-template>
</p-dialog>