<div class="flex flex-column gap-2">
    @if(mode==="language" || mode==="all"){
    <div class="flex flex-column border-round p-1 surface-100 text-color-secondary hover:surface-200 hover:text-primary">
        <span class="text-xs my-1">{{ 'settings.language' | translate }}</span>
        <p-selectbutton [options]="langOptions" [(ngModel)]="selectedLang"
                        unselectable="true" optionLabel="label" optionValue="value" class="mb-0">
            <ng-template pTemplate="item" let-item>
                {{ item.label | translate }}
            </ng-template>
        </p-selectbutton>
    </div>
    }
    @if(mode==="theme" || mode==="all"){
    <div class="flex flex-column border-round p-1 surface-100 text-color-secondary hover:surface-200 hover:text-primary">
        <span class="text-xs my-1">{{ 'settings.theme' | translate }}</span>
        <div class="flex flex-row gap-2">
            <p-selectbutton [options]="themeOptions" [(ngModel)]="selectedTheme"
                            unselectable="true" optionLabel="label" optionValue="value" class="mb-0"
                            (onChange)="changeTheme()">
                <ng-template pTemplate="item" let-item>
                    {{ item.label | translate }}
                </ng-template>
            </p-selectbutton>

            <p-select [options]="colorSchemes" [(ngModel)]="selectedScheme"
                      optionLabel="label" optionValue="value" class="mb-0" styleClass="flex-1" appendTo="body"
                      (onChange)="changeScheme()">
                <ng-template pTemplate="item" let-item>
                    {{ item.label | translate }}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedItem>
                    {{ selectedItem.label | translate }}
                </ng-template>
            </p-select>
        </div>
    </div>
    }
</div>