<div class="flex flex-column gap-2 lg:flex-row lg:gap-4 lg:align-items-center">
  <h2 class="text-2xl my-1">{{ 'common.viewPages' | translate }}</h2>

  <div class="flex flex-row gap-1">
    <p-button
      [label]="('common.view' | translate) + ' ' + ('project.urls' | translate)"
      (click)="showUrls = true"
      icon="pi pi-list"
      outlined
      size="small"
      styleClass="secondary-outline w-full min-w-max"
    />
    <p-drawer [(visible)]="showUrls" [header]="'common.urls' | translate" position="right" styleClass="w-6">
      <aida-project-settings [allowBoth]="true" [allowPreview]="true" [showDisplay]="true" [showLang]="true" [showScope]="true" [showSource]="true">
        <p-button
          [label]="'common.copyUrls' | translate"
          (onClick)="copyToClipboard(projectCache.selectedLang())"
          icon="pi pi-copy"
          outlined
          size="small"
          styleClass="secondary-outline white-space-nowrap"
        />
      </aida-project-settings>
      @if (projectCache.selectedLang() === 'both') {
        <p-table [value]="pairedPagesForTable()">
          <ng-template #header>
            <tr>
              <th>
                {{ 'common.language.english' | translate }}
                <p-button [pTooltip]="'common.copyEnglish' | translate" (onClick)="copyToClipboard('en')" icon="pi pi-copy" rounded text tooltipPosition="top" />
              </th>
              <th>
                {{ 'common.language.french' | translate }}
                <p-button [pTooltip]="'common.copyFrench' | translate" (onClick)="copyToClipboard('fr')" icon="pi pi-copy" rounded text tooltipPosition="top" />
              </th>
            </tr>
          </ng-template>
          <ng-template #body let-pair>
            <tr>
              <td>
                @if (projectCache.selectedDisplay() === 'url') {
                  {{ pair.en.url }}
                } @else {
                  <a [href]="pair.en.url" target="_blank">{{ pair.en.label }}</a>
                }
              </td>
              <td>
                @if (projectCache.selectedDisplay() === 'url') {
                  {{ pair.fr.url }}
                } @else {
                  <a [href]="pair.fr.url" target="_blank">{{ pair.fr.label }}</a>
                }
              </td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <h3>{{ projectCache.selectedLang() === 'en' ? ('common.language.english' | translate) : ('common.language.french' | translate) }} ({{ singlePageCount() }})</h3>
        <ul>
          @for (url of singlePagesForList(); track url.url) {
            <li>
              @if (projectCache.selectedDisplay() === 'url') {
                {{ url.url }}
              } @else {
                <a [href]="url.url" target="_blank">{{ url.label }}</a>
              }
            </li>
          }
        </ul>
      }
    </p-drawer>
    <p-button
      [label]="('common.view' | translate) + ' ' + ('iaDiagram.button' | translate)"
      (click)="iaDiagram.openDiagram()"
      icon="pi pi-sitemap"
      outlined
      size="small"
      styleClass="secondary-outline w-full min-w-max"
    />
    <p-button [label]="'inventory._title' | translate" icon="pi pi-list-check" outlined routerLink="/inventory" size="small" styleClass="secondary-outline w-full min-w-max" />
  </div>

  <div class="flex flex-row gap-1 lg:justify-content-center lg:align-items-center">
    <i class="pi pi-copy text-primary text-5xl"></i>
    <div class="flex flex-column">
      <p class="my-0 font-bold text-xl">{{ inScopePageCount() }}</p>
      <p class="my-0 text-sm lowercase">{{ 'common.inScopePages' | translate }}</p>
    </div>
  </div>
</div>
