<h1 id="wb-cont">{{ 'github.title' | translate }}</h1>

<!-- Authentication Banner -->
@if (!exportGitHubService.token() && !authService.isAuthenticated()){
<p-message severity="info" styleClass="mb-2 sticky top-0 z-2">
    <div class="flex align-items-center gap-2">
        <i class="pi pi-info-circle font-bold"></i>
        <span>{{'github.warning' | translate}}</span>
    </div>
</p-message>
}
<div class="flex lg:flex-row flex-column gap-3">
    <!--Connect Card 4-->
    <div class="surface-card border-round-lg shadow-2 p-4 lg:mb-3 lg:w-8 w-full">
        <!--Header & Settings-->
        <div class="flex flex-column lg:flex-row justify-content-between align-items-start">
            <div class="flex flex-column">
                <h2 class="text-2xl my-1">Export settings</h2>
                <p class="my-1">{{ 'github.connect.export.description.' + selectedExportTarget | translate }}</p>
                <!-- Repository Info Row -->
                <div class="flex gap-5">
                    <div>
                        <label class="text-xs font-semibold">{{ 'github.owner' | translate }}</label>
                        <p class="text-color-secondary text-sm my-0">{{ projectData().github.owner }}</p>
                    </div>
                    <div>
                        <label class="text-xs font-semibold">{{ 'github.repo' | translate }}</label>
                        <p class="text-color-secondary text-sm my-0">{{ projectData().github.repo }}{{(selectedExportTarget === 'baseline')?'-baseline':''}}</p>
                    </div>
                    <div>
                        <label class="text-xs font-semibold">{{ 'github.branch' | translate }}</label>
                        <p class="text-color-secondary text-sm my-0">{{ projectData().github.branch }}</p>
                    </div>
                </div>



                <!--label class="text-xs font-semibold mt-1">{{ 'github.repo' | translate }}</label>
                <p class="text-color-secondary text-sm my-0 white-space-nowrap">{{ projectData().github.owner }}/{{ projectData().github.repo }}{{(selectedExportTarget === 'baseline')?'-baseline':''}} ({{ projectData().github.branch }})</p>
-->
            </div>
            <div class="mt-3 lg:mt-0 flex flex-row lg:flex-column gap-2">
                <p-button
                          [label]="'github.connect.settings' | translate"
                          icon="pi pi-cog"
                          outlined
                          size="small"
                          styleClass="secondary-outline w-full"
                          (click)="settingsOverlay.toggle($event)" />
                <p-popover #settingsOverlay styleClass="w-full lg:w-30rem">
                    <aida-setup-repo></aida-setup-repo>
                    @if (projectData().github.hasBaselineRepo) {
                    <div class="flex flex-column align-items-stretch mt-3">
                        <label class="text-sm font-semibold">{{ 'github.connect.export.label' | translate }}</label>
                        <div class="flex flex-row gap-3">
                            <p-selectButton [options]="exportTargetOptions"
                                            [(ngModel)]="selectedExportTarget"
                                            allowEmpty="false"
                                            optionLabel="label"
                                            optionValue="value"
                                            styleClass="secondary-outline max-h-3rem">
                            </p-selectButton>

                        </div>
                    </div>
                    }
                </p-popover>
                <p-button
                          [label]="'github.connect.openRepo' | translate"
                          icon="pi pi-external-link"
                          outlined
                          size="small"
                          styleClass="secondary-outline w-full"
                          (onClick)="openRepo()" />
            </div>
        </div>

        <h2 class="text-2xl mt-3 mb-1">{{connectionStatus() === 'connected' ? ('github.connected' | translate) : ('github.connect' | translate) }}</h2>
        <div class="flex flex-column gap-3">
            <!--Sign in options -->
            @if (!exportGitHubService.token() && !authService.isAuthenticated()) {
            <p class="my-0">{{ 'github.connect.description' | translate }}</p>
            <!-- Option 1: OAuth Sign In -->
            <div class="flex flex-column lg:flex-row gap-2">
                <div class="flex-1 border-left-3 surface-border p-3 text-center">

                    <i class="pi pi-github text-6xl text-900 mb-3"></i>
                    <p class="font-semibold my-0">{{ 'github.connect.option1.title' | translate }}</p>
                    <p class="text-sm text-color-secondary my-2">{{ 'github.connect.option1.description' | translate }}</p>
                    <p-button
                              icon="pi pi-github"
                              label="{{ 'github.connect.option1.button' | translate }}"
                              (onClick)="authService.login()"
                              styleClass="w-full" />

                </div>
                <p-divider layout="horizontal" class="lg:hidden uppercase">{{ 'or' | translate }}</p-divider>
                <p-divider layout="vertical" class="hidden lg:flex uppercase">{{ 'or' | translate }}</p-divider>
                <!-- Option 2: Personal Access Token -->
                <div class="flex-1 border-left-3 surface-border lg:border-none p-3 text-center">
                    <i class="pi pi-key text-6xl text-900 mb-3"></i>
                    <p class="font-semibold my-0">{{ 'github.connect.option2.title' | translate }}</p>
                    <p class="text-sm text-color-secondary my-2">{{ 'github.connect.option2.description' | translate }}</p>
                    <div class="flex flex-row">
                        <p-iftalabel class="w-full">
                            <p-password feedback="false" toggleMask id="token" [(ngModel)]="pat" pSize="small" fluid styleClass="w-full" (onBlur)="savePAT()" (paste)="onPastePAT()" />
                            <label for="token">{{ 'github.connect.option2.token' | translate }}</label>
                        </p-iftalabel>
                        <p-button icon="pi pi-question-circle" [pTooltip]="'github.connect.option2.token.tooltip' | translate" tooltipPosition="top" severity="info" outlined size="large" styleClass="min-h-full surface-ground secondary-outline" (click)="showHelp = true" />
                    </div>
                </div>
                <!--Token Help Dialog-->
                <p-dialog header="{{ 'github.connect.option2.token.helpHeader' | translate }}"
                          [(visible)]="showHelp"
                          [modal]="true"
                          [style]="{width: '50vw'}"
                          [breakpoints]="{'1199px': '75vw', '575': '90vw'}">
                    <div class="text-sm" [innerHTML]="('github.connect.option2.token.help'| translate: {defaultOrg: defaultOrg})"></div>
                </p-dialog>
            </div>
            } @else {
            <!--Connection Status-->
            <div [class]="statusClasses()">
                @if (connectionStatus() === 'checking') {
                <i class="pi pi-spin pi-spinner text-primary text-2xl"></i>
                }
                @if (connectionStatus() === 'connected') {
                <i class="pi pi-check-circle text-green-500 text-2xl"></i>
                }
                @if (connectionStatus() === 'warning') {
                <i class="pi pi-exclamation-triangle text-yellow-500 text-2xl"></i>
                }
                @if (connectionStatus() === 'error' || connectionStatus() === 'missing') {
                <i class="pi pi-times-circle text-red-500 text-2xl"></i>
                }

                <div class="flex-1">
                    @if (connectionStatus() === 'checking') {
                    <p [class]="titleClasses()" [innerHtml]="'github.connect.checking' | translate"></p>
                    <p class="text-sm text-color-secondary my-0">{{ 'github.connect.checking.details' | translate }}</p>
                    }
                    @if (connectionStatus() === 'connected') {
                    <div class="flex flex-row gap-2 justify-content-between">
                        <div>
                            <p [class]="titleClasses()">{{ 'github.connect.connected' | translate }}</p>
                            @if (authService.isAuthenticated()) {
                            <p class="text-sm text-color-secondary my-0">
                                {{ 'github.connect.connected.oauth' | translate:{ User: username()} }}
                            </p>
                            } @else {
                            <p class="text-sm text-color-secondary my-0">
                                {{ 'github.connect.connected.pat' | translate:{ User: username()} }}
                            </p>
                            }
                            @if(showDisclaimer()) {
                            <p class="text-xs text-color-secondary my-0">{{ 'github.connect.unverified' | translate:{ User: username()} }}a</p>
                            }
                        </div>
                        @if(showDisclaimer()) {
                        <p-button [label]="'github.connect.clearToken' | translate" icon="pi pi-times" outlined severity="secondary" size="small" (onClick)="clearPAT()" styleClass="secondary-outline white-space-nowrap" />
                        }
                    </div>
                    }
                    @if (connectionStatus() === 'warning') {
                    <div class="flex flex-row gap-2 justify-content-between">
                        <div>
                            <p [class]="titleClasses()">{{ 'github.connect.warning' | translate }}</p>
                            <p class="text-sm text-color-secondary my-0">{{ 'github.connect.warning.details' | translate }}</p>
                        </div>
                        @if (!authService.isAuthenticated()) {
                        <p-button [label]="'github.connect.clearToken' | translate" icon="pi pi-times" outlined severity="secondary" size="small" (onClick)="clearPAT()" styleClass="secondary-outline white-space-nowrap" />
                        }
                    </div>
                    }
                    @if (connectionStatus() === 'error' || connectionStatus() === 'missing') {
                    <div class="flex flex-row gap-2 justify-content-between">
                        <div>
                            <p [class]="titleClasses()">{{ 'github.connect.error' | translate }}</p>
                            <p class="text-sm text-color-secondary my-0">{{ 'github.connect.error.details' | translate }}</p>
                        </div>
                        @if (!authService.isAuthenticated()) {
                        <p-button [label]="'github.connect.clearToken' | translate" icon="pi pi-times" outlined severity="secondary" size="small" (onClick)="clearPAT()" styleClass="secondary-outline white-space-nowrap" />
                        }
                    </div>
                    }
                </div>
            </div>
            }
        </div>

    </div>
    <!--Stats Card 2-->
    <div class="surface-card border-round-lg shadow-2 p-4 lg:mb-3 lg:w-4 w-full">
        <h2 class="text-2xl my-1">{{ 'github.data' | translate }}</h2>
        <!-- Last Export Date -->
        <div class="p-3 mb-3 text-center">
            <div class="text-600 text-sm opacity-90">{{ 'github.data.lastExported' | translate }}</div>
            <div class="text-primary text-xl font-semibold">{{ projectData().lastExported | date:'mediumDate' }}, {{ projectData().lastExported | date:'shortTime' }}</div>
        </div>
        <p-divider></p-divider>

        <!-- Total pages -->
        <div class="text-center">
            <div class="flex flex-row justify-content-around">
                <div>
                    <div class="text-5xl font-bold text-primary mb-1">
                        {{ selectedExportTarget === 'prototype' ? inScopePageCount() : baselinePageCount() }}
                    </div>
                    <div class="text-600 text-sm">
                        {{ selectedExportTarget === 'prototype' ? ('github.data.inScope' | translate) : ('github.data.baseline' | translate) }}
                    </div>
                </div>
                <div>
                    <div class="text-5xl font-bold text-primary mb-1">
                        {{ jekyllFileCount() }}
                    </div>
                    <div class="text-600 text-sm">
                        {{ 'github.data.jekyll' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="surface-card border-round-lg shadow-2 p-4 my-3 lg:mt-0">
    <h2 class="text-2xl my-1">Files to export</h2>
    <p-table [value]="filesTable()" size="small">
        <ng-template pTemplate="header" stripedRows>
            <tr>
                <th>File</th>
                <th><span class="flex flex-row align-items-center gap-2">
                        Status
                        <p-button icon="pi pi-angle-double-right" pTooltip="Skip all" tooltipPosition="top" size="small" severity="secondary" (onClick)="setAll('skip')" />
                        <p-button icon="pi pi-sync" pTooltip="Update all" tooltipPosition="top" size="small" severity="primary" (onClick)="setAll('update')" />
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
            <tr>
                <td>{{ file.path }}</td>
                <td>
                    <p-chip [label]="file.location"
                            [icon]="getIcon(file.location)"
                            [class]="'capitalize font-bold center-chip w-9rem p-1 ' + getBgAndText(file.location, 'alwaysDark')"
                            [class.cursor-pointer]="file.location === 'skip' || file.location === 'update'"
                            (click)="(file.location === 'skip' || file.location === 'update') && toggleUpdate(file)"></p-chip>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-button styleClass="mt-3" icon="pi pi-github" label="Export to GitHub" severity="primary"
              (onClick)="exportProjectToGitHub(gitHubData().owner,gitHubData().repo,gitHubData().branch,exportGitHubService.token(),true)"
              [disabled]="projectData().inScopePages === 0 || (!exportGitHubService.token() && !authService.isAuthenticated())" />
    @if (filesTable().length) {
    <span class="text-color-secondary">
        {{ newCount() }} new and {{ updatedCount() }} updated pages
    </span>
    }
    @if (exportMessage()) {
    <p-message
               [severity]="exportMessage()!.severity"
               [text]="exportMessage()!.text"
               styleClass="mt-2" />
    }

</div>