@if (projectState.getProject().projectName) {
  <p>{{ projectState.getProject().projectName }}</p>
}
<h1 id="wb-cont">{{ (hasName || hasPages ? 'project._nav.edit' : 'project._nav.new') | translate }}</h1>
<p>{{ (hasName || hasPages ? 'project.edit.description' : 'project.new.description') | translate }}{{ 'project.edit.description2' | translate }}</p>

<!--Messages if user has required actions that affect the app globally-->
@if (!hasName) {
  <p-message icon="pi pi-info-circle font-bold" severity="info" styleClass="mb-2">
    {{ 'project.message.noName' | translate }}
  </p-message>
}
@if (!hasRepo) {
  <p-message icon="pi pi-info-circle font-bold" severity="info" styleClass="mb-2">
    {{ 'project.message.noRepo' | translate }}
  </p-message>
}

<!--Content-->
<div class="flex flex-column gap-3">
  <!--Row 1: Project, GitHub, & Collaborators-->
  <div class="flex lg:flex-row flex-column gap-3">
    <!--Project Card-->
    <div [ngClass]="hasName && hasPages ? 'lg:w-4' : 'lg:w-6'" class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
      <aida-setup-project />
    </div>
    @if (hasName && hasPages) {
      <!--GitHub Card-->
      <div class="surface-card border-round-lg shadow-2 p-4 w-full lg:w-4 min-w-min">
        <aida-setup-repo />
      </div>
    }
    <!--Collaborators Card-->
    <div [ngClass]="hasName && hasPages ? 'lg:w-4' : 'lg:w-6'" class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
      <aida-add-collaborators mode="list" />
    </div>
  </div>

  <!--Row 2: Add pages-->
  <div class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
    <aida-add-pages />
  </div>

  <!--Row 3: View pages-->
  <div class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
    <aida-view-pages />
  </div>
</div>
