<h2>{{ 'dev._title' | translate }}</h2>
<p [innerHTML]="'dev.description' | translate"></p>
<div class="grid py-2 px-4 lg:px-6">
  <div class="col-12 md:col-6 lg:col-4">
    <a class="text-xl font-semibold" routerLink="/dev/monitoring">{{ 'dev.monitoring._title' | translate }}</a>
    <p class="text-color-secondary mt-2">{{ 'dev.monitoring.description' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <a class="text-xl font-semibold" routerLink="/dev/color-generator">{{ 'dev.colors._title' | translate }}</a>
    <p class="text-color-secondary mt-2">{{ 'dev.colors.description' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <a class="text-xl font-semibold" routerLink="/dev/design-patterns">{{ 'dev.patterns._title' | translate }}</a>
    <p class="text-color-secondary mt-2">{{ 'dev.patterns.description' | translate }}</p>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <a class="text-xl font-semibold" routerLink="/dev/prompt-editor">{{ 'dev.prompts._title' | translate }}</a>
    <p class="text-color-secondary mt-2">{{ 'dev.prompts.description' | translate }}</p>
  </div>
</div>
