<p-contextmenu [model]="options" #cm />
<p-tree
  [(selection)]="selectedNode"
  [contextMenu]="cm"
  [draggableNodes]="draggable"
  [droppableNodes]="true"
  [selectionMode]="selectable ? 'multiple' : null"
  [validateDrop]="true"
  [value]="projectTree()"
  (onNodeContextMenuSelect)="onNodeContextMenu($event)"
  (onNodeDrop)="handleNodeDrop($event)"
  draggableScope="self"
  droppableScope="self"
>
  <ng-template let-node pTemplate="default">
    <div class="flex flex-row align-items-center gap-2">
      @if (draggable) {
        <i class="pi pi-arrows-alt cursor-move text-color-secondary"></i>
      } @else if (node.children?.length > 0) {
        <i class="pi pi-folder"></i>
      } @else {
        <i class="pi pi-file"></i>
      }
      <a [href]="node.data.path[currentLanguage]" [innerHTML]="node.data.prototype[currentLanguage].h1" (click)="onNodeClick($event)" class="ia-label" target="_blank"></a>
    </div>
  </ng-template>
</p-tree>

<p-dialog [(visible)]="editNode" [header]="selectedNode?.data?.prototype?.[currentLanguage]?.h1" [maximizable]="true" [modal]="true" [style]="{ height: '90vh' }" styleClass="w-10">
  @if (selectedNode) {
    <aida-edit-node [isOpen]="editNode" [node]="selectedNode" (dialogClose)="editNode = false" />
  }
</p-dialog>
