@if (projectName) {
  <p>{{ projectName }}</p>
}
<h1 id="wb-cont">{{ 'addPages._title' | translate }}</h1>
<p>{{ 'addPages.description' | translate }}{{ 'addPages.description2' | translate }}</p>

<!--Content-->
<div class="flex flex-column gap-3 mb-2">
  <!--Row 1: Add pages-->
  <div class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
    <aida-add-pages />
  </div>
  <!--Row 2: View pages-->
  <div class="surface-card border-round-lg shadow-2 p-4 w-full min-w-min">
    <aida-view-pages />
  </div>
</div>
