<p-card [header]="'title.apiKey' | translate">
  <div class="flex flex-column gap-3">

    <p class="m-0">
      {{'apiKey.intro' | translate}}
    </p>

    <p-inputgroup>
      <p-iftalabel>
        <input id="apiKeyInput" pInputText variant="outlined" [(ngModel)]="api" #apiField="ngModel" #apiKey required class="w-full" fluid />
        <label for="apiKeyInput">{{'apiKey.placeholder' | translate}}</label>
      </p-iftalabel>
      <p-inputgroup-addon class="flex-none">
        <p-button icon="pi pi-key" [label]="'apiKey.save' | translate" severity="success" (click)="this.localStore.saveData('apiKey', api)" />
      </p-inputgroup-addon>
    </p-inputgroup>


    <div *ngIf="apiField.invalid && apiField.touched">
      <ng-container *ngIf="apiField.errors?.['required']">
        <p class="m-0 text-red-500 text-sm">{{'apiKey.error' | translate}}</p>
      </ng-container>
    </div>
    <div [innerHTML]="'apiKey.instructions' | translate"></div>
  </div>
</p-card>