.diff-container {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 1rem;
    overflow-y: scroll;
    height: 75vh;
    position: relative;
}

.diff-container.original {
    border-color: #f3a59d;
}

.diff-container.modified {
    border-color: #83d5a8;
}