<p-menu #menu [model]="items" [popup]="true">
    <ng-template #submenuheader let-item>
        <span class="text-primary font-bold">{{ item.label | translate}}</span>
    </ng-template>
    <ng-template #item let-item>
        <a class="p-menu-item-link">
            <i [class]="item.icon"></i>
            <span>{{ item.label | translate}}</span>
        </a>
    </ng-template>
</p-menu>

@if (exportGitHubService.user(); as user) {
<p-button [outlined]="true" size="small" rounded outlined styleClass="secondary-outline p-1" (onClick)="menu.toggle($event)">
    <p-avatar [image]="user.avatar_url" shape="circle" />
    <div class="font-semibold pr-2">{{ user.name || user.login }}</div>
</p-button>
} @else {
<p-button [outlined]="true" size="small" rounded outlined styleClass="secondary-outline p-1" (onClick)="connectGitHub()">
    <i class="pi pi-github text-4xl text-color-secondary"></i>
    <div class="font-semibold pr-2">{{'common.signin' | translate}}</div>
</p-button>
}

<p-dialog [header]="'github.connect.pat.header' | translate" [modal]="true" [(visible)]="showPatSignIn" class="w-12 lg:w-8">
    <div class="flex flex-row align-items-center gap-3 -mt-2">
        <i class="pi pi-key text-6xl text-900"></i>
        <div class="w-full">
            <p class="text-sm text-color-secondary my-2">{{ 'github.connect.pat.description' | translate }}</p>
            <aida-pat />
        </div>
    </div>
    <div class="flex justify-content-end mt-2">
        <p-button [label]="'common.signin' | translate" (onClick)="validatePAT()" />
    </div>
</p-dialog>

<p-dialog [header]="'settings._title' | translate" [modal]="true" [(visible)]="showSettings" [style]="{width: '50vw'}" [breakpoints]="{'1199px': '75vw', '575': '90vw'}">
    <div class="flex flex-row align-items-center gap-3">
        <i class="pi pi-cog text-6xl text-900"></i>
        <div class="w-full">
            <aida-user-settings />
        </div>
    </div>
    <div class="flex justify-content-end mt-2">
        <p-button [label]="'common.close' | translate" (onClick)="showSettings = false" />
    </div>
</p-dialog>