<div [ngClass]="style() === 'topic' ? 'py-2 px-4 lg:px-6' : ''" class="grid">
  @for (key of keys(); track key) {
    @if (items[key]; as item) {
      @if (!isHiddenInProd(key) || !prod) {
        @if (style() === 'topic') {
          <div class="col-12 md:col-6 lg:col-4">
            @if (isExternal(key)) {
              <a [href]="item.path | translate" target="_blank">
                <ng-container *ngTemplateOutlet="doormatHeader; context: { $implicit: item.titleKey, external: isExternal(key) }" />
              </a>
            } @else {
              <a [routerLink]="item.path ? item.path : undefined">
                <ng-container *ngTemplateOutlet="doormatHeader; context: { $implicit: item.titleKey }" />
              </a>
            }
            <p class="text-color-secondary mt-2">{{ item.descriptionKey | translate }}</p>
          </div>
        } @else if (style() === 'card') {
          <div class="col-12 lg:col-6">
            @if (!isExternal(key)) {
              <a [routerLink]="item.path ? item.path : undefined" class="no-underline h-full flex">
                <div class="surface-card border-round-lg shadow-1 hover:shadow-3 hover:surface-ground p-3 w-full min-w-min flex-1">
                  <div class="flex flex-row gap-3">
                    <div class="flex align-items-center">
                      <span [class]="iconClasses(item.notOutlined)">{{ item.icon }}</span>
                    </div>
                    <div>
                      <ng-container *ngTemplateOutlet="doormatHeader; context: { $implicit: item.titleKey }" />
                      <p class="text-color-secondary mt-2">{{ item.descriptionKey | translate }}</p>
                    </div>
                  </div>
                </div>
              </a>
            }
          </div>
        }
      }
    }
  }
</div>

<ng-template #doormatHeader let-external="external" let-header>
  @switch (headingLevel()) {
    @case ('h2') {
      <h2 class="text-xl font-semibold my-0">
        <span class="hover:underline">{{ header | translate }}</span>
        @if (external) {
          <i class="pi pi-external-link ml-2 text-lg"></i>
        }
      </h2>
    }
    @case ('h3') {
      <h3 class="text-xl font-semibold my-0">
        <span class="hover:underline">{{ header | translate }}</span>
        @if (external) {
          <i class="pi pi-external-link ml-2 text-lg"></i>
        }
      </h3>
    }
    @case ('h4') {
      <h4 class="text-xl font-semibold my-0">
        <span class="hover:underline">{{ header | translate }}</span>
        @if (external) {
          <i class="pi pi-external-link ml-2 text-lg"></i>
        }
      </h4>
    }
    @case ('h5') {
      <h5 class="text-xl font-semibold my-0">
        <span class="hover:underline">{{ header | translate }}</span>
        @if (external) {
          <i class="pi pi-external-link ml-2 text-lg"></i>
        }
      </h5>
    }
  }
</ng-template>
