<!-- LIST MODE -->
@if (mode() === 'list') {
  <h2 class="text-2xl my-1">{{ 'collaborators._title' | translate }}</h2>
  @if (collaborators().length > 0) {
    <ul class="list-unstyled">
      @for (collab of collaborators(); track collab.id) {
        <li>
          <div class="flex flex-row justify-content-between align-items-center gap-2">
            <div class="flex align-items-center gap-2">
              <ng-container *ngTemplateOutlet="collabAvatar; context: { $implicit: collab, showName: true }" />
            </div>
            @if (collaboratorService.canEditProject(projectData())) {
              <p-button
                [pTooltip]="'collaborators.remove' | translate: { name: collaboratorService.getCollaboratorName(collab) }"
                (onClick)="removeCollaborator(collab)"
                icon="pi pi-trash"
                rounded
                severity="danger"
                text
              />
            }
          </div>
        </li>
      }
    </ul>
    @if (collaboratorService.canEditProject(projectData())) {
      <ng-container *ngTemplateOutlet="collabAutocomplete; context: { $implicit: addSelectedCollaborators }" />
    } @else if (exportGitHubService.user()) {
      <p-message icon="pi pi-exclamation-triangle font-bold" severity="warn">
        <div class="flex flex-row justify-content-between align-items-center">
          {{ 'collaborators.message.notCollab' | translate }}
          @if (getRequestAccessMailto()) {
            <p-button
              [label]="'collaborators.button.requestAccess' | translate"
              (onClick)="openMailto(getRequestAccessMailto())"
              icon="pi pi-envelope"
              link
              severity="secondary"
              size="small"
              styleClass="mt-2"
            />
          }
        </div>
      </p-message>
    } @else {
      <p-message icon="pi pi-info-circle font-bold" severity="info">{{ 'collaborators.message.hasCollab' | translate }}</p-message>
    }
  } @else {
    <p-message icon="pi pi-info-circle font-bold" severity="info">{{ 'collaborators.message.firstCollab' | translate }}</p-message>
  }
}
<!-- GROUP MODE -->
@if (mode() === 'dashboard' || mode() === 'switch') {
  @if (collaborators().length > 0) {
    <div class="flex flex-row align-content-center">
      <p-avatar-group>
        @for (collab of collaborators().slice(0, maxVisibleCollaborators); track collab.id) {
          <ng-container *ngTemplateOutlet="collabAvatar; context: { $implicit: collab, showName: false }" />
        }
        @if (collaborators().length > maxVisibleCollaborators) {
          <p-avatar
            [label]="'+' + (collaborators().length - maxVisibleCollaborators).toString()"
            [pTooltip]="'collaborators.plusMore' | translate: { number: collaborators().length - maxVisibleCollaborators }"
            class="mb-2"
            shape="circle"
            tooltipPosition="top"
          />
        }
      </p-avatar-group>
      @if (mode() === 'dashboard') {
        @if (collaboratorService.canEditProject(projectData())) {
          <p-button [pTooltip]="'collaborators.addCollab' | translate" (onClick)="openShareDialog()" icon="pi pi-share-alt" rounded size="small" text />
        }
        <p-dialog [(visible)]="showShareDialog" [header]="'collaborators.addCollab' | translate" [modal]="true" styleClass="w-12 md:w-8 lg:w-6">
          <ng-container *ngTemplateOutlet="collabAutocomplete; context: { $implicit: addAndCloseShareDialog, onCancel: closeShareDialog }" />
        </p-dialog>
      }
    </div>
  } @else {
    <p class="text-md my-0">{{ 'common.none' | translate }}</p>
  }
}

<!--Confirmation dialog-->
@if (mode() === 'list') {
  <p-confirmdialog key="collab" />
}

<!--Autocomplete dropdown template-->
<ng-template #collabAutocomplete let-onAdd let-onCancel="onCancel">
  <p-iftalabel>
    <p-autocomplete
      id="collab"
      [(ngModel)]="selectedCollaborators"
      [appendTo]="'body'"
      [dropdown]="true"
      [maxlength]="39"
      [multiple]="true"
      [pKeyFilter]="collabFilter"
      [suggestions]="filteredCollaborators()"
      (completeMethod)="filterCollaborators($event)"
      (onDropdownClick)="onDropdownClick()"
      (onSelect)="onCollabSelect($event)"
      fluid
      optionLabel="login"
      size="small"
    >
      <ng-template #item let-collab>
        <div class="flex flex-row gap-2 align-items-center">
          <ng-container *ngTemplateOutlet="collabAvatar; context: { $implicit: collab, showName: true }" />
        </div>
      </ng-template>
      <ng-template #selectedItem let-selected>{{ selected.login }}</ng-template>
    </p-autocomplete>
    <label for="collab">{{ 'collaborators.label.select' | translate }}</label>
  </p-iftalabel>
  <div class="flex justify-content-end gap-2 mt-2">
    @if (onCancel) {
      <p-button [label]="'common.cancel' | translate" (onClick)="onCancel()" outlined severity="secondary" styleClass="secondary-outline" />
    }
    <p-button [disabled]="selectedCollaborators.length === 0" [label]="'common.add' | translate" (onClick)="onAdd()" icon="pi pi-plus" />
  </div>
</ng-template>

<!--Avatar template-->
<ng-template #collabAvatar let-collab let-showName="showName">
  <p-avatar
    [image]="collab.avatar_url || undefined"
    [label]="collab.avatar_url ? undefined : collaboratorService.getCollaboratorInitials(collab)"
    [ngClass]="collaboratorService.getCollaboratorColorClass(collab)"
    [pTooltip]="showName ? undefined : collaboratorService.getCollaboratorName(collab)"
    class="mb-2"
    shape="circle"
    tooltipPosition="top"
  />
  {{ showName ? collaboratorService.getCollaboratorName(collab) : undefined }}
</ng-template>
