<div class="l-navbar show-n" id="nav-bar">
  <nav class="nav">
    <div class="flex flex-column justify-content-between min-h-full">
      <div>
        <!-- App Title -->
        <div class="nav_logo">
          <a [routerLink]="['/']">
            <span class="material-icons text-primary-200">{{ production ? 'design_services' : 'construction' }}</span>
            <span class="logo_text px-0">{{ (production ? 'title.landing' : 'title.landing.dev') | translate }}</span>
          </a>
        </div>
        <!-- Project Tools -->
        <div class="section">
          <div class="nav_header text-primary-200 hover:text-primary-400 hover:font-bold" (click)="toggleSection('project')" (keydown)="toggleOnEnter($event, 'project')" tabindex="0" role="button" [attr.aria-expanded]="isExpanded.project" aria-controls="project">
            <span id="menu-project" class="nav_section_text">{{ 'menu.project' | translate }}</span>
            <span class="material-icons toggle-icon">{{ isExpanded.project ? 'expand_less' : 'expand_more' }}</span>
          </div>
          <div class="nav_section_body" id="project" role="region" aria-labelledby="menu-project" [class.hidden]="!isExpanded.project">
            <a [routerLink]="['/dashboard']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round"
               *ngIf="projectLoaded">
              <span class="material-icons">view_quilt</span>
              <span class="nav_link_text">{{ 'menu.dashboard' | translate }}</span>
            </a>
            <a [routerLink]="['/new-project']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round"
               *ngIf="!projectLoaded">
              <span class="material-icons">add</span>
              <span class="nav_link_text">{{ 'menu.new' | translate }}</span>
            </a>
            <a [routerLink]="['/edit-project']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round"
               *ngIf="projectLoaded">
              <span class="material-icons">edit</span>
              <span class="nav_link_text">{{ 'menu.manage' | translate }}</span>
            </a>
            <a [routerLink]="['/switch-project']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">folder_open</span>
              <span class="nav_link_text">{{ 'menu.saved' | translate }}</span>
            </a>
          </div>
        </div>
        <div class="section">
          <div class="nav_header text-primary-200 hover:text-primary-400" (click)="toggleSection('main')" (keydown)="toggleOnEnter($event, 'main')" tabindex="0" role="button" [attr.aria-expanded]="isExpanded.main" aria-controls="main">
            <span id="menu-content" class="nav_section_text">{{ 'menu.tools' | translate }}</span>
            <span class="material-icons toggle-icon">{{ isExpanded.main ? 'expand_less' : 'expand_more' }}</span>
          </div>
          <div class="nav_section_body" id="main" role="region" aria-labelledby="menu-content" [class.hidden]="!isExpanded.main">

            <a [routerLink]="['/add-pages']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons-outlined">inventory</span>
              <span class="nav_link_text">{{ 'menu.add-pages' | translate }}</span>
            </a>
            <a [routerLink]="['/find-pages']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons-outlined">lan</span>
              <span class="nav_link_text">{{ 'menu.find-pages' | translate }}</span>
            </a>
            <a [routerLink]="['/inventory-assistant']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">checklist_rtl</span>
              <span class="nav_link_text">{{ 'menu.inventory' | translate }}</span>
            </a>
            <a [routerLink]="['/page-assistant']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round ">
              <span class="material-icons">library_books</span>
              <span class="nav_link_text">{{ 'menu.page' | translate }}</span>
            </a>
            <a [routerLink]="['/pain-points']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round ">
              <span class="material-icons">troubleshoot</span>
              <span class="nav_link_text">{{ 'menu.problem' | translate }}</span>
            </a>
            <a [routerLink]="['/metadata-assistant']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">description</span>
              <span class="nav_link_text">{{ 'menu.metadata' | translate }}</span>
            </a>
            <a [routerLink]="['/export-github']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round ">
              <span class="material-icons-outlined">drive_folder_upload</span>
              <span class="nav_link_text">{{ 'menu.github' | translate }}</span>
            </a>
            <a [routerLink]="['/search']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round ">
              <span class="material-icons-outlined">manage_search</span>
              <span class="nav_link_text">{{ 'menu.search' | translate }}</span>
            </a>
          </div>
        </div>
        <!-- Standalone Tools -->
        <div class="section">
          <div class="nav_header text-primary-200 hover:text-primary-400" (click)="toggleSection('utilities')" (keydown)="toggleOnEnter($event, 'utilities')" tabindex="0" role="button" [attr.aria-expanded]="isExpanded.utilities" aria-controls="utilities">
            <span id="menu-content" class="nav_section_text">{{ 'menu.standalone' | translate }}</span>
            <span class="material-icons toggle-icon">{{ isExpanded.utilities ? 'expand_less' : 'expand_more' }}</span>
          </div>
          <div class="nav_section_body" id="main" role="region" aria-labelledby="menu-content" [class.hidden]="!isExpanded.utilities">
            <a [routerLink]="['/image-assistant']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">photo</span>
              <span class="nav_link_text">{{ 'menu.image' | translate }}</span>
            </a>
            <a [routerLink]="['/translation-assistant']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">language</span>
              <span class="nav_link_text">{{ 'menu.translation' | translate }}</span>
            </a>
            <a [routerLink]="['/llm-evaluation']" routerLinkActive="active"
               class="nav_link flex hover:bg-primary-600 border-round">
              <span class="material-icons">assessment</span>
              <span class="nav_link_text">{{ 'menu.llmEvaluation' | translate }}</span>
            </a>

          </div>
        </div>

      </div>

      <!-- App Info -->
      <div class="section">
        <div class="nav_section_body" [class.hidden]="!isExpanded.info">
          <a [routerLink]="['/about-us']" routerLinkActive="active" class="nav_link flex hover:bg-primary-600 border-round">
            <span class="material-icons">web_asset</span>
            <span class="nav_link_text">{{ 'menu.about' | translate }}</span>
          </a>
          <a [href]="'feedback.email' | translate" class="nav_link flex hover:bg-primary-600 border-round">
            <span class="material-icons">feedback</span>
            <span class="nav_link_text">{{ 'menu.feedback' | translate }}</span>
          </a>
        </div>
      </div>

    </div>
  </nav>
</div>