<div class="l-navbar p-3" id="nav-bar">
  <nav class="flex flex-column justify-content-between h-full">
    <div>
      <!-- App Title -->
      <div class="mb-4">
        <a [routerLink]="['/']" class="flex align-items-center gap-2 p-0 no-underline">
          <span class="material-icons text-5xl text-primary-300">{{ production ? 'design_services' : sandbox ? 'handyman' : 'construction' }}</span>
          <span class="hidden md:inline text-lg font-semibold px-0">{{ (production ? '_app._title' : sandbox ? '_app._title.sandbox' : '_app._title.dev') | translate }}</span>
        </a>
      </div>

      <!-- Project Views -->
      <div class="mb-0 md:mb-4">
        <div class="hidden md:flex justify-content-between align-items-center text-lg text-primary-200 hover:text-primary-400 hover:font-bold cursor-pointer"
             (click)="toggleSection('project')" (keydown)="toggleOnEnter($event, 'project')" tabindex="0" role="button" [attr.aria-expanded]="isExpanded.project" aria-controls="project">
          <span id="menu-project">{{ 'nav.project' | translate }}</span>
          <span class="material-icons">{{ isExpanded.project ? 'expand_less' : 'expand_more' }}</span>
        </div>
        <div id="project" role="region" aria-labelledby="menu-project" [class.md:hidden]="!isExpanded.project">
          @if (projectLoaded) {
          <a [routerLink]="['/dashboard']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons text-2xl">view_quilt</span>
            <span class="hidden md:inline text-md">{{ 'dashboard._nav' | translate }}</span>
          </a>
          <a [routerLink]="['/edit-project']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons text-2xl">edit</span>
            <span class="hidden md:inline text-md">{{ 'project._nav.edit' | translate }}</span>
          </a>
          } @else {
          <a [routerLink]="['/new-project']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons text-2xl">add</span>
            <span class="hidden md:inline text-md">{{ 'project._nav.new' | translate }}</span>
          </a>
          }
          <a [routerLink]="['/switch-project']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons text-2xl">folder_open</span>
            <span class="hidden md:inline text-md">{{ 'switch._nav' | translate }}</span>
          </a>
        </div>
      </div>
      <!-- Mobile divider -->
      <hr class="border-primary-300 md:hidden" />
      <!-- Task Views -->
      <div class="mb-0 md:mb-4">
        <div class="hidden md:flex justify-content-between align-items-center text-lg text-primary-200 hover:text-primary-400 hover:font-bold cursor-pointer"
             (click)="toggleSection('tasks')" (keydown)="toggleOnEnter($event, 'tasks')" tabindex="0" role="button" [attr.aria-expanded]="isExpanded.tasks" aria-controls="tasks">
          <span id="menu-tasks">{{ 'nav.tasks' | translate }}</span>
          <span class="material-icons">{{ isExpanded.tasks ? 'expand_less' : 'expand_more' }}</span>
        </div>
        <div id="tasks" role="region" aria-labelledby="menu-tasks" [class.md:hidden]="!isExpanded.tasks">
          <a [routerLink]="['/inventory']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons text-2xl">checklist_rtl</span>
            <span class="hidden md:inline text-md">{{ 'inventory._nav' | translate }}</span>
          </a>
          <a [routerLink]="['/export-github']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
             class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
            <span class="material-icons-outlined text-2xl">drive_folder_upload</span>
            <span class="hidden md:inline text-md">{{ 'github._nav' | translate }}</span>
          </a>
        </div>
        <!--Icons for upcoming task nav
        <span class="material-icons text-2xl">library_books</span>
        <span class="hidden md:inline text-md">Pages</span><br>
        <span class="material-icons text-2xl">troubleshoot</span>
        <span class="hidden md:inline text-md">Problems</span><br>
        <span class="material-icons-outlined text-2xl">manage_search</span>
        <span class="hidden md:inline text-md">GREP search</span>
        -->
      </div>
    </div>

    <!-- App Info -->
    <div>
      <a [routerLink]="['/standalone']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
         class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
        <span class="material-icons text-2xl">home_repair_service</span>
        <span class="hidden md:inline text-md">{{ 'standalone._nav' | translate }}</span>
      </a>
      @if(!production){
      <a [routerLink]="['/help']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
         class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
        <span class="material-icons text-2xl">help_outline</span>
        <span class="hidden md:inline text-md">{{ 'help._nav' | translate }}</span>
      </a>
      }
      <a [routerLink]="['/about-us']" [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
         class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
        <span class="material-icons text-2xl">wysiwyg</span>
        <span class="hidden md:inline text-md">{{ 'about._nav' | translate }}</span>
      </a>
      <a (click)="mailtoService.openMailto(mailtoService.generateFeedbackMailto())" (keydown.enter)="mailtoService.openMailto(mailtoService.generateFeedbackMailto())" tabindex="0"
         class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600">
        <span class="material-icons text-2xl">feedback</span>
        <span class="hidden md:inline text-md">{{ 'feedback._nav' | translate }}</span>
      </a>
    </div>

  </nav>
</div>