<div id="nav-bar" class="l-navbar p-3">
  <nav class="flex flex-column justify-content-between h-full">
    <div>
      <!-- App Title -->
      <div class="mb-4">
        <a [routerLink]="['/']" class="flex align-items-center gap-2 p-0 no-underline">
          <span class="material-icons text-5xl text-primary-300">{{ production ? 'design_services' : sandbox ? 'handyman' : 'construction' }}</span>
          <span class="hidden md:inline text-lg font-semibold px-0">{{ (production ? '_app._title' : sandbox ? '_app._title.sandbox' : '_app._title.dev') | translate }}</span>
        </a>
      </div>

      <!-- Project Views -->
      <div class="mb-0 md:mb-4">
        <div
          [attr.aria-expanded]="isExpanded.project"
          (click)="toggleSection('project')"
          (keydown)="toggleOnEnter($event, 'project')"
          class="hidden md:flex justify-content-between align-items-center text-lg text-primary-200 hover:text-primary-400 hover:font-bold cursor-pointer"
          aria-controls="project"
          role="button"
          tabindex="0"
        >
          <span id="menu-project">{{ 'nav.project' | translate }}</span>
          <span class="material-icons">{{ isExpanded.project ? 'expand_less' : 'expand_more' }}</span>
        </div>
        <div id="project" [class.md:hidden]="!isExpanded.project" aria-labelledby="menu-project" role="region">
          @if (projectLoaded) {
            <ng-container *ngTemplateOutlet="link; context: { path: 'dashboard', icon: 'view_quilt', text: ('dashboard._nav' | translate) }" />
            <ng-container *ngTemplateOutlet="link; context: { path: 'edit-project', icon: 'edit', text: ('project._nav.edit' | translate) }" />
          } @else {
            <ng-container *ngTemplateOutlet="link; context: { path: 'new-project', icon: 'add', text: ('project._nav.new' | translate) }" />
          }
          <ng-container *ngTemplateOutlet="link; context: { path: 'switch-project', icon: 'folder_open', text: ('switch._nav' | translate) }" />
        </div>
      </div>
      <!-- Mobile divider -->
      <hr class="border-primary-300 md:hidden" />
      <!-- Task Views -->
      <div class="mb-0 md:mb-4">
        <div
          [attr.aria-expanded]="isExpanded.tasks"
          (click)="toggleSection('tasks')"
          (keydown)="toggleOnEnter($event, 'tasks')"
          class="hidden md:flex justify-content-between align-items-center text-lg text-primary-200 hover:text-primary-400 hover:font-bold cursor-pointer"
          aria-controls="tasks"
          role="button"
          tabindex="0"
        >
          <span id="menu-tasks">{{ 'nav.tasks' | translate }}</span>
          <span class="material-icons">{{ isExpanded.tasks ? 'expand_less' : 'expand_more' }}</span>
        </div>
        <div id="tasks" [class.md:hidden]="!isExpanded.tasks" aria-labelledby="menu-tasks" role="region">
          <ng-container *ngTemplateOutlet="link; context: { path: 'add-pages', icon: 'note_add', text: ('addPages._nav' | translate), isOutlined: true }" />
          <ng-container *ngTemplateOutlet="link; context: { path: 'ia-diagram', icon: 'lan', text: ('iaDiagram._nav' | translate), isOutlined: true }" />
          <ng-container *ngTemplateOutlet="link; context: { path: 'inventory', icon: 'checklist_rtl', text: ('inventory._nav' | translate) }" />
          <ng-container *ngTemplateOutlet="link; context: { path: 'export-pages', icon: 'drive_folder_upload', text: ('exportPages._nav' | translate), isOutlined: true, onClick: checkLocalStatus }" />
          @if (!production) {
            <ng-container *ngTemplateOutlet="link; context: { path: 'compare', icon: 'library_books', text: ('compare._nav' | translate), isOutlined: true, onClick: checkStatus }" />
            <!--ng-container *ngTemplateOutlet="link; context: { path: 'problems', icon: 'troubleshoot', text: ('problems._nav' | translate), isOutlined: true}"/>
          <ng-container *ngTemplateOutlet="link; context: { path: 'search', icon: 'manage_search', text: ('search._nav' | translate), isOutlined: true}"/-->
          }
        </div>
      </div>
    </div>

    <!-- App Info -->
    <div>
      <ng-container *ngTemplateOutlet="link; context: { path: 'standalone', icon: 'home_repair_service', text: ('standalone._nav' | translate) }" />
      @if (!production) {
        <ng-container *ngTemplateOutlet="link; context: { path: 'help', icon: 'help_outline', text: ('help._nav' | translate) }" />
      }
      <ng-container *ngTemplateOutlet="link; context: { path: 'about-us', icon: 'wysiwyg', text: ('about._nav' | translate) }" />
      <ng-container *ngTemplateOutlet="link; context: { path: '', icon: 'feedback', text: ('feedback._nav' | translate), onClick: mailTo }" />
    </div>
  </nav>
</div>

<!--Link template-->
<ng-template #link let-icon="icon" let-isOutlined="isOutlined" let-onClick="onClick" let-path="path" let-text="text">
  <a
    [routerLink]="path ? ['/' + path] : null"
    [routerLinkActive]="['bg-primary-500', 'text-primary-50']"
    (click)="onClick?.()"
    (keydown.enter)="onClick?.()"
    class="flex align-items-center gap-3 py-1 px-2 m-1 border-round no-underline hover:bg-primary-600 cursor-pointer"
    tabindex="0"
  >
    <span [class]="isOutlined ? 'material-icons-outlined' : 'material-icons' + ' text-2xl'">{{ icon }}</span>
    <span class="hidden md:inline text-md">{{ text }}</span>
  </a>
</ng-template>
