.l-navbar a {
  text-decoration: none
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--p-gray-800);
  padding: .5rem 1rem 1rem;
  transition: .3s;
  z-index: var(--z-fixed)
}

.nav {
  height: 100%;
  display: contents;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .3rem 0 0 .3rem;
  position: relative;
  color: var(--first-color-light);
  margin-bottom: .8rem;
  transition: .3s
}

.nav_link:hover {
  border-radius: .25rem;
  padding-bottom: .5rem;
  margin-bottom: 0rem
}

.nav_link.active:hover {
  color: #fff;
}

.nav_link.active {
  background-color: var(--p-primary-color);
  border-radius: .25rem;
  padding-bottom: .3rem;
  margin-bottom: .1rem
}

.nav_link.active-hide {
  background-color: var(--p-primary-color);
  border-radius: .25rem;
  padding-bottom: .5rem;
  width: 2.8rem
}

.nav_logo {
  display: flex;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0;
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
}

.nav_logo-name {
  color: var(--first-color-light);
  font-weight: 700
}

.show-n {
  left: 0
}

.section {
  padding: .1rem;
}

.nav_section_body {
  padding-left: .7rem;
}

.nav_section_body.hidden {
  display: none;
}

.nav_link_text {
  margin-left: 0rem;
}

.nav_header {
  font-size: 18px;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0
}

.nav_header:hover {
  font-weight: bold;
  padding-bottom: .5rem;
}

.nav_header.active:hover {
  color: #fff
}

.nav_header.active {
  border-radius: .25rem;
  padding-bottom: .5rem;
  margin-bottom: .1rem
}

.nav_header.active-hide {
  border-radius: .25rem;
  padding-bottom: .5rem;
  width: 2.8rem
}

.toggle-icon {
  margin-left: auto;
}

.nav_icon,
.nav_section_text {
  margin-left: .5rem;
}

.nav_section {
  overflow: hidden;
  max-width: 100%
}

@media (max-width: 768px) {

  .section,
  .nav_section-body,
  .nav_section_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-width: 0;
    display: block
  }

  .nav_header,
  .nav_link_text {
    display: none
  }

  .toggle-icon {
    margin-left: 0;
    margin-top: 0.5rem;
    align-self: flex-end
  }

  .logo_text {
    display: none
  }
}

.nav_logo a {
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--first-color-light)
}

.nav_logo .material-icons {
  font-size: 2.2rem;
  align-self: flex-start;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.logo_text {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0 .5rem;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0
  }

  .show-n {
    width: calc(var(--nav-width) + 110px)
  }

  /*
        .show-n:hover {
           width: calc(var(--nav-width) + 176px)}
    */
}