/*Override full width for split buttons*/
:host ::ng-deep .p-splitbutton {
    width: 100% !important;
}

:host ::ng-deep .p-splitbutton .p-button {
    width: 100%;
}

:host ::ng-deep .p-splitbutton .p-splitbutton-dropdown {
    width: 3rem;
}