<div class="flex flex-row justify-content-between align-items-start gap-2">
  @if (breadcrumbs().length > 0) {
    <p-breadcrumb [model]="breadcrumbs()" styleClass="pt-1 pl-0 text-color-secondary">
      <ng-template let-item pTemplate="item">
        @if (item.route) {
          <a [routerLink]="item.route" class="p-menuitem-link">{{ item.label | translate }}</a>
        } @else {
          <span class="p-menuitem-text">{{ item.label | translate }}</span>
        }
      </ng-template>
    </p-breadcrumb>
  } @else {
    <span></span>
  }
  @if (production) {
    <div class="sticky top-0 z-50 flex justify-content-center border-round-bottom-lg bg-primary h-1.5">
      {{ (sandbox ? '_app.env.sandbox' : '_app.env.dev') | translate }}
    </div>
  } @else if (projectDisplay.projectLabel && isProjectRoute()) {
    <div class="sticky top-0 z-50 flex justify-content-end align-items-center gap-2 surface-card text-color-secondary white-space-nowrap">
      @if (projectDisplay.tagLabel) {
        <p-tag [icon]="projectDisplay.tagIcon" [pTooltip]="projectDisplay.tagTooltip" [severity]="projectDisplay.tagSeverity" [value]="projectDisplay.tagLabel" tooltipPosition="left" />
      }
      <a [routerLinkActive]="['bg-primary-50', 'text-primary-500']" class="no-underline border-round-bottom-xl" routerLink="/project/edit">
        <div class="border-1 border-top-none border-round-bottom-xl border-dashed surface-border py-1 px-3">
          <i [class]="'text-primary font-semibold mr-1 ' + projectDisplay.icon" [pTooltip]="projectDisplay.iconTooltip" tooltipPosition="left"></i>
          <span class="text-sm">{{ projectDisplay.projectLabel }}</span>
        </div>
      </a>
    </div>
  }
</div>
