@if (breadcrumb()) {
  <!--Breadcrumb-->
  <p-breadcrumb [model]="breadcrumbs">
    <ng-template let-item pTemplate="item">
      @if (item.route) {
        <a [routerLink]="item.route" class="p-menuitem-link">{{ item.label | translate }}</a>
      } @else {
        <span class="p-menuitem-text">{{ item.label | translate }}</span>
      }
    </ng-template>
  </p-breadcrumb>
  <h1>{{ ProjectPhase.Discover | translate }}</h1>
} @else {
  <h2>{{ ProjectPhase.Discover | translate }}</h2>
}

<!--Intro-->
<p>{{ ProjectPhase.Discover + '.description' | translate }}{{ ProjectPhase.Discover + '.description2' | translate }}</p>

<!--Task Doormats-->
<div class="grid py-2 px-4 lg:px-6">
  <ng-container *ngTemplateOutlet="doormat; context: { path: 'add-pages', title: ('addPages._nav' | translate), description: ('addPages.description' | translate) }" />
  <ng-container *ngTemplateOutlet="doormat; context: { path: undefined, title: ('problems._nav' | translate), description: ('problems.description' | translate) }" />
  <ng-container *ngTemplateOutlet="doormat; context: { path: 'ia-diagram', title: ('iaDiagram._title' | translate), description: ('iaDiagram.description' | translate) }" />
  <ng-container *ngTemplateOutlet="doormat; context: { path: 'inventory', title: ('inventory._nav' | translate), description: ('inventory.description' | translate) }" />
  <ng-container *ngTemplateOutlet="doormat; context: { path: 'export-pages', title: ('exportPages._nav' | translate), description: ('exportPages.description' | translate) }" />
  <ng-container *ngTemplateOutlet="doormat; context: { path: undefined, title: ('search._nav' | translate), description: ('search.description' | translate) }" />
</div>

@if (breadcrumb()) {
  <h2>{{ 'common.extResources' | translate }}</h2>
} @else {
  <h3>{{ 'common.extResources' | translate }}</h3>
}
<!--Resource Doormats-->
<div class="grid py-2 px-4 lg:px-6">
  <ng-container
    *ngTemplateOutlet="
      doormat;
      context: { path: ('ucdg.discover.link' | translate), title: ('ucdg.discover.title' | translate), description: ('ucdg.discover.description' | translate), isExternal: true }
    "
  />
</div>

<!--Doormat template-->
<ng-template #doormat let-door="title" let-doormat="description" let-ext="isExternal" let-path="path">
  <div class="col-12 md:col-6 lg:col-4">
    @if (ext) {
      <a [href]="path" class="text-xl font-semibold" target="_blank">{{ door }}<i class="pi pi-external-link ml-2 text-lg"></i></a>
    } @else {
      <a [routerLink]="path ? '/' + path : undefined" class="text-xl font-semibold">{{ door }}</a>
    }
    <p class="text-color-secondary mt-2">{{ doormat }}</p>
  </div>
</ng-template>
