::ng-deep .api-button-size {
    width: 13rem !important;
}

@media (max-width: 768px) {
    ::ng-deep .api-button-size {
        width: auto !important;
        padding: 10px !important;
    }

    ::ng-deep .api-button .p-button-label {
        display: none;
    }
}

::ng-deep .api-button:hover .p-button-icon {
    color: var(--p-primary-400) !important;
}

::ng-deep html.dark-mode .api-button:hover .p-button-icon {
    color: var(--p-primary-200) !important;
}