/* Toolbar */
.sticky-toolbar {
  position: sticky;
  left: calc(var(--mobile-nav-width));
  top: 0rem;
  padding-top: 1.5rem;
  margin-top: -1.5rem;
  z-index: 20;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 0rem;
  box-sizing: border-box;
  background-color: var(--p-surface-card);
}

.sticky-toolbar-table {
  width: calc(100vw - var(--mobile-nav-width) - 2rem);
}

/* Toolbar - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-toolbar {
    left: var(--desktop-nav-width);
    padding-right: 5rem;
  }

  .sticky-toolbar-table {
    width: calc(100vw - var(--desktop-nav-width) - 5rem);
  }
}

/* Allows sticky table columns */
::ng-deep .p-datatable-table-container {
  overflow: visible !important;
}

/* Table column - H1 */
.sticky-h {
  position: sticky;
  left: calc(var(--mobile-nav-width) + 2rem);
  z-index: 11;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Table column - H1 - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-h {
    left: calc(var(--desktop-nav-width) + 2rem);
  }
}

/* Table column - checkbox */
.sticky-c {
  position: sticky;
  left: var(--mobile-nav-width);
  z-index: 11;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Table column - checkbox - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-c {
    left: var(--desktop-nav-width);
  }
}

/* Table row - group headers */
.sticky-rdh {
  position: sticky;
  top: 10.5rem;
  z-index: 12;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Table row - headers */
.sticky-r {
  position: sticky;
  top: 12.5rem;
  z-index: 12;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Keeps column headers on top of row headers in stacking context */
::ng-deep .p-datatable .p-datatable-thead {
  z-index: 13 !important;
}

/* Table row & column - H1 */
.sticky-rh {
  position: sticky;
  left: calc(var(--mobile-nav-width) + 2rem);
  top: 12.5rem;
  z-index: 14;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Table row & column - H1 - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-rh {
    left: calc(var(--desktop-nav-width) + 2rem);
  }
}

/* Table row & column - checkbox */
.sticky-rc {
  position: sticky;
  left: calc(var(--mobile-nav-width));
  top: 12.5rem;
  z-index: 14;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
}

/* Table row & column - checkbox - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-rc {
    left: var(--desktop-nav-width);
  }
}

/* Horizontal sticky */
.sticky-horizontal {
  position: sticky;
  left: calc(var(--mobile-nav-width));
  z-index: 21;
  width: calc(100vw - var(--mobile-nav-width) - 2rem);
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 0rem;
  box-sizing: border-box;
}

/* Horizontal sticky - desktop adjustments */
@media screen and (min-width: 768px) {
  .sticky-horizontal {
    left: var(--desktop-nav-width);
    width: calc(100vw - var(--desktop-nav-width) - 3.5rem);
    padding-right: 5rem;
  }
}

.hasMenu:hover {
  background-color: var(--p-primary-100) !important;
  cursor: help;
}

html.dark-mode .hasMenu:hover {
  background-color: var(--p-primary-500) !important;
  cursor: help;
}

.sticky-r,
.sticky-rh,
.sticky-h,
.sticky-c,
.sticky-rc {
  transition: z-index 0s linear 0.1s;
}

.sticky-r:has([data-tooltip]:hover),
.sticky-rh:has([data-tooltip]:hover),
.sticky-h:has([data-tooltip]:hover),
.sticky-c:has([data-tooltip]:hover),
.sticky-rc:has([data-tooltip]:hover) {
  z-index: 100 !important;
  transition: none;
}
