<h2 class="text-2xl my-1" [innerHTML]="(addUrlsService.urlState().isValidating || addUrlsService.urlState().isAdding) ? ('addPages._title.active' | translate) : ('addPages._title' | translate)"></h2>
<p class="text-color-secondary">{{"addPages.description" | translate}}</p>
<p-iftalabel>
    <textarea id="urls" autoResize="true" rows="5" pTextarea [(ngModel)]="addUrlsService.urlState().rawUrls" (change)="parseUrls()" (paste)="onPasteUrls()" fluid></textarea>
    <label for="urls">{{"addPages.inputLabel" | translate}}</label>
</p-iftalabel>

@if(duplicatesSkipped.length > 0){
<p-message severity="error" size="small" variant="simple" styleClass="mb-2" [text]="getDuplicateMessage()" />
}
@if(invalidUrlsSkipped.length > 0){
<p-message severity="error" size="small" variant="simple" styleClass="mb-2" [text]="getInvalidUrlMessage()" />
}
@if(oppositeLangSkipped.length > 0){
<p-message severity="error" size="small" variant="simple" styleClass="mb-2" [text]="getOppositeLangMessage()" />
}

<div class="flex flex-row align-items-center gap-2">
    <!--Validate URLs-->
    <p-button [label]="'addPages.validateButton' | translate" icon="pi pi-check-square" class="min-w-max"
              [loading]="addUrlsService.urlState().isValidating || addUrlsService.urlState().isAdding" [disabled]="!addUrlsService.urlState().rawUrls.trim()"
              (onClick)="addUrlsService.validateUrls()" />
    <!--Arrow & screenreader annoucement for users coming from bookmarklet-->
    @if(highlightAddPages){
    <div class="sr-only" aria-live="polite" role="status">
        {{ 'addPages.screenreader.pageReadyToAdd' | translate }}
    </div>
    <div class="flex flex-row align-items-center m-0 p-0 text-primary arrow-bounce">
        <span class="material-icons text-5xl">keyboard_backspace</span>
        <p class="font-bold text-lg m-0">{{'addPages.import'|translate}}</p>
    </div>
    }
    <!-- Undo Button -->
    @if(addUrlsService.getPreviousProjectData()){
    <p-button [label]="'addPages.undoButton' | translate" icon="pi pi-undo" severity="secondary"
              [loading]="addUrlsService.urlState().isValidating || addUrlsService.urlState().isAdding"
              (onClick)="undoAddPages()" />
    }
    <!-- View Invalid URLs Button -->
    @if(addUrlsService.urlState().urlsToReview.length > 0){
    <p-button [label]="'addPages.viewInvalid' | translate" icon="pi pi-link" severity="info"
              [loading]="addUrlsService.urlState().isValidating || addUrlsService.urlState().isAdding"
              (onClick)="viewInvalidUrls = true" />
    }
</div>

@if(addUrlsService.urlState().isValidating && addUrlsService.validatingProgress(); as progress){
<p-progressbar [value]="progress.percent" styleClass="h-2rem centered-label mt-1 transition-duration-100">
    <ng-template #content>
        <div class="flex flex-row gap-6">
            <span class="text-white">{{'addPages.validating' | translate}}</span>
            <span class="text-white">{{progress.processed}}/{{progress.total}}</span>
        </div>
    </ng-template>
</p-progressbar>
}

@if(addUrlsService.urlState().isAdding && addUrlsService.addingProgress(); as progress){
<p-progressbar [value]="progress.percent" styleClass="h-2rem centered-label mt-1 transition-duration-100">
    <ng-template #content>
        <div class="flex flex-row gap-6">
            <span class="text-white">{{'addPages.adding' | translate}}</span>
            <span class="text-white">{{progress.processed}}/{{progress.total}}</span>
        </div>
    </ng-template>
</p-progressbar>
}

<!-- Invalid URLs popup -->
<p-dialog [header]="'invalidUrls._title' | translate" [modal]="true" [maximizable]="true" [(visible)]="viewInvalidUrls" styleClass="w-10" [style]="{ height: '90vh' }">
    @if(addUrlsService.urlState().urlsToReview.length > 0) {
    <aida-invalid-urls (dialogClose)="viewInvalidUrls = false" />
    }
</p-dialog>