<h1 id="wb-cont">{{ 'title.ia' | translate}}</h1>
<p>{{'ia.description' | translate }}</p>

<div class="border-1 secondary-outline p-3">
    <div class="border-y-1 secondary-outline surface-card sticky top-0 z-5 -m-3 mb-1">
        <p-toolbar styleClass="p-1">
            <ng-template #start>
                <div class="flex gap-1">
                    <p-button icon="pi pi-save" pTooltip="Save session" tooltipPosition="top" outlined styleClass="secondary-outline" severity="secondary" (onClick)="iaState.saveToLocalStorage()" />

                    <p-button
                              icon="pi pi-cloud-upload"
                              pTooltip="Save to cloud"
                              tooltipPosition="top"
                              outlined
                              styleClass="secondary-outline"
                              severity="primary"
                              (onClick)="saveToCloud()"
                              [disabled]="!authService.isAuthenticated()" />

                    <p-button icon="pi pi-file-export" pTooltip="Export JSON file" tooltipPosition="top" outlined styleClass="secondary-outline" severity="secondary" (onClick)="iaState.exportIaState()" />

                    <p-button icon="pi pi-download" pTooltip="Download CSV" tooltipPosition="top" outlined styleClass="secondary-outline" severity="secondary" (onClick)="iaState.exportIaTreeAsCsv()" [disabled]="iaState.getIaData().iaTree.length === 0" />

                    <p-button icon="pi pi-github" pTooltip="Export to GitHub" tooltipPosition="top" outlined styleClass="secondary-outline" severity="secondary" (onClick)="goToGitHubExport()" [disabled]="iaState.getIaData().iaTree.length === 0" />

                    <!--p-button *ngIf="isDev" icon="pi pi-github" pTooltip="Export to GitHub" tooltipPosition="top" outlined styleClass="secondary-outline" severity="secondary" (onClick)="op.toggle($event)" [disabled]="iaState.getIaData().iaTree.length === 0" />


                    <p-popover #op>
                        <div class="flex flex-column gap-2">
                            <p-iftalabel>
                                <input type="text" id="owner" pInputText [(ngModel)]="owner" pSize="small" fluid (blur)="updateRepoList()" />
                                <label for="repo">Owner</label>
                            </p-iftalabel>
                            <p-iftalabel>
                                <input type="text" id="repo" pInputText [(ngModel)]="repo" pSize="small" fluid />
                                <label for="repo">Repository</label>
                            </p-iftalabel>
                            <p-dropdown
                                        [options]="repos"
                                        [(ngModel)]="repo"
                                        placeholder="Select a repo">
                            </p-dropdown>
                            <p-iftalabel>
                                <input type="text" id="branch" pInputText [(ngModel)]="branch" pSize="small" fluid />
                                <label for="branch">Branch</label>
                            </p-iftalabel>
                            <p-iftalabel>
                                <input type="text" id="token" pInputText [(ngModel)]="userToken" pSize="small" fluid />
                                <label for="token">GitHub Token</label>
                            </p-iftalabel>
                            <p-button icon="pi pi-github" label="Export to GitHub" severity="primary" (onClick)="exportProjectToGitHub(owner,repo,branch,userToken,true)" [disabled]="iaState.getIaData().iaTree.length === 0" />

                        </div>
                    </p-popover-->

                </div>
            </ng-template>
            <ng-template #center>

            </ng-template>
            <ng-template #end>
                <div class="flex gap-1">
                    <p-fileUpload #fileUploadRef name="iaStateFile" accept=".json" auto="true" mode="basic"
                                  [customUpload]="true" (uploadHandler)="iaState.importIaState($event)"
                                  chooseLabel="Import JSON" chooseIcon="pi pi-file-import" outlined styleClass="upload-secondary-outline" severity="secondary" pTooltip="Import JSON file" tooltipPosition="top" />
                    <p-button icon="pi pi-trash" pTooltip="Reset" tooltipPosition="top" outlined styleClass="secondary-outline" severity="danger" (onClick)="iaState.resetIaFlow()" />
                </div>
            </ng-template>
        </p-toolbar>
    </div>
    <p-stepper [(value)]="iaState.activeStep" [linear]="true">
        <p-step-list class="-mx-4">
            <p-step [value]="1">Enter and validate URLs</p-step>
            <p-step [value]="2">Set initial pages to crawl</p-step>
            <p-step [value]="3">Add search criteria</p-step>
            <p-step [value]="4">Build IA tree</p-step>
        </p-step-list>
        <p-step-panels>

            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-2 p-3 border-2 border-dashed border-primary">

                        <aida-validate-urls></aida-validate-urls>

                        <!--p>TEST LINKS
                            <br>https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/t4001/employers-guide-payroll-deductions-remittances.html
                            <br>https://www.canada.ca/en/revenue-agency/services/forms-publications/publications.html
                            <br>https://www.canada.ca/en/services/taxes/income-tax.html
                            <br>https://www.canada.ca/en.html<br>

                            <br>Top 5 search results for GST:
                            <br>https://www.canada.ca/en/revenue-agency/services/child-family-benefits/goods-services-tax-harmonized-sales-tax-gst-hst-credit.html
                            <br>https://www.canada.ca/en/revenue-agency/services/child-family-benefits/goods-services-tax-harmonized-sales-tax-gst-hst-credit/goods-services-tax-harmonized-sales-tax-gst-hst-credit-payment-amounts-tax-years-2013-2015.html
                            <br>https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses.html
                            <br>https://www.canada.ca/en/services/taxes/resources-for-small-and-medium-businesses/gst-hst.html
                            <br>https://www.canada.ca/en/revenue-agency/services/child-family-benefits/goods-services-tax-harmonized-sales-tax-gst-hst-credit/goods-services-tax-harmonized-sales-tax-gst-hst-credit-payment-amounts-tax-year-2016.html
                        </p-->

                    </div>
                    <div class="flex pt-4 gap-2 justify-content-between">
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" class="ml-auto" (onClick)="activateCallback(2); iaState.saveToLocalStorage();" [disabled]="!iaState.getUrlData().isValidated || !iaState.getUrlData().isOk" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-2 p-3 border-2 border-dashed border-primary">

                        <aida-set-roots></aida-set-roots>

                    </div>
                    <div class="flex pt-4 justify-content-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1); iaState.saveToLocalStorage();" />
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3); iaState.saveToLocalStorage();" [disabled]="iaState.getBreadcrumbData().progress !== 100" />
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-2 p-3 border-2 border-dashed border-primary">

                        <aida-search-criteria></aida-search-criteria>

                    </div>
                    <div class="flex pt-4 justify-content-between">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                        <p-button label="Build IA Tree" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4); iaState.saveToLocalStorage();" *ngIf="iaState.getIaData().iaTree.length === 0" />
                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" *ngIf="iaState.getIaData().iaTree.length > 0"></p-button>
                    </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="4">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-column gap-2 p-3 border-2 border-dashed border-primary">

                        <aida-ia-tree></aida-ia-tree>

                    </div>
                    <div class="flex pt-4 justify-content-start">
                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
                    </div>
                </ng-template>
            </p-step-panel>

        </p-step-panels>
    </p-stepper>
</div>